---
import Layout from '../layouts/Layout.astro';
import background_video from '../content/background_video.mp4';
import logo from '../content/baja.png';
---

<Layout>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
	<main>
		<div class="object-cover absolute w-full min-h-screen max-w-full top-0 flex justify-center items-center">
			<!-- <div class="text-white text-7xl text-right z-10 font-orbitron">Memorial<br>Baja</div> -->
			<div class="flex flex-wrap justify-center">
				<img class="z-10 h-20" src={logo} />
				<div class="px-10 text-white text-7xl text-center z-10 font-orbitron">Coming Soon</div>
			</div>
			<video
    			autoplay
   				loop
    			muted
				playsinline
    			class="object-cover absolute brightness-50 w-full min-h-screen max-w-full max-h-screen top-0"
  			>
				<source
      				src={background_video}
      				type="video/mp4"
    			/>
			</video>
		</div>
	</main>
</Layout>
